<!DOCTYPE html>
<html>

<head>
<title>Bytecom</title>
<script
	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
</head>

<body>
	<div ng-app="" ng-controller="formController">
		<form novalidate>
			Login:<br> <input type="text" ng-model="user.login"><br>
			Senha:<br> <input type="password" ng-model="user.senha">
			<br> <br>
			<button ng-click="login()">Login</button>
			<button type="reset">Limpar</button>
		</form>
		<p>form = {{user}}</p>
		<p>master = {{master}}</p>
	</div>

	<script>
		
		function createCORSRequest(method, url) {
		  var xhr = new XMLHttpRequest();
		  if ("withCredentials" in xhr) {
			// XHR for Chrome/Firefox/Opera/Safari.
			xhr.open(method, url, true);
		  } else if (typeof XDomainRequest != "undefined") {
			// XDomainRequest for IE.
			xhr = new XDomainRequest();
			xhr.open(method, url);
		  } else {
			// CORS not supported.
			xhr = null;
		  }
		  
		   // Response handlers.
		  xhr.onload = function() {
			var text = xhr.responseText;
			var title = getTitle(text);
			alert('Response from CORS request to ' + url + ': ' + title);
		  };

		  xhr.onerror = function() {
			alert('Woops, there was an error making the request.');
		  };

		  return xhr;
		}
		
		
		
		function formController ($scope, $http) {
		    $scope.login = function() {
			  var xhr = createCORSRequest('GET', 'https://bytecom.herokuapp.com/services/time');
			  if (!xhr) {
				alert('CORS not supported');
				
				return;
			  } else {
				  alert(xhr.responseText);
			  }
		    	//$http.get("https://bytecom.herokuapp.com/services/time")
		        //.success(function(response) {
			     //   console.log(response);
		        //});
		    };
		    $scope.login();
		};
		
		
		
	</script>

</body>
</html>
